<div class="row">
    <div class="col-md-6 mx-auto">

        {{#if message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {{/if}}

        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" id="login" placeholder="Login" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        Or <a href="/register">Register</a>
    </div>
</div>