<div class="row">
    <div class="col-md-6 mx-auto">

        {{#if err}}
            {{#each err.errors}}
                <div class="alert alert-danger" role="alert">{{message}}</div>
            {{/each}}
        {{/if}}

        <form method="POST">
            <div class="form-group">
                <label for="email">Login</label>
                <input type="text" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    name="password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</div>