<h1>Books Collections</h1>

{{#if collections}}

<a href="/collections/create" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Add new</a>

<ul class="list-group">
    {{#each collections}}
    <li class="list-group-item">
        {{title}}

        <span>
            <form method="POST" action="/collections/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">DELETE</button>
            </form>
        </span>
        </li>
    {{/each}}
</ul>

{{else}}

<h2>There are no collections. <a href="/collections/create">Create one now</a></h2>

{{/if}}